/* reset css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}
/* reset css */
/* header {
  display: flex;
  justify-content: center;
} */
/* ghi chú 1 */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  /* ghi chú 1 , thay vì margin:0 auto */
}
/* start header */
header {
  position: absolute;
  width: 100%;
}
.header_container {
  /* border: 1px solid red; */
  height: 80px;
  display: flex;

  /*  justify-content là trục chinh(ngang) */
  justify-content: space-between;
  /* align-items là trục phụ(doc) */
  align-items: center;
  /* mặc định flex trục chính là (ngang) */
  /* flex-direction:column; đổi trục chính-thành (doc) */
}
.header_container .logo {
  font-size: 30px;
  color: white;
}
.header_container a {
  font-size: 22px;
  text-decoration: none;
  margin-left: 20px;
  color: white;
  text-transform: uppercase;
  /* text-transform: uppercase; viết hoa các chữ */
  transition: 0.3s;
  /* transition: 0.3s; thời gian thay đổi(2) */
}
.header_container a.active {
  color: red;
}
.header_container a:hover {
  color: red;
  /* hover là làm cho hiện lên màu của chữ khi trỏ chuột  ghi chu (2)*/
}
/* flex : vào thẻ cha di chuyển thẻ con */
/*  */
/* end header */

/* start banner */
.banner {
  background-image: url(./image-video/./home_slider.jpg);
  height: 100vh;
  min-height: 500px;
  backgruond-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid rgb(17, 0, 255); */
}
.banner_container {
  /* border: 2px solid orange; */
  text-align: center;
  color: white;
}
.banner_container button {
  color: white;
  border: none;
  background: #e62b4a;
  padding: 15px 25px;
  transition: 0.3s;
  cursor: pointer;
}
.banner_container button:hover {
  background: #af2239;
}
.banner_container h2 {
  font-size: 30px;
}
.banner_container p {
  font-size: 75px;
  font-weight: 500px;
  margin: 20px 0px;
}
.banner_container i {
  font-size: 30px;
  color: white;
  /* display: inline-block; */
  animation: animatedemo;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  /* duration la thoi gian
   iteration-count lan xuat hien*/
}
/* end banner */

/* start carousel */
.carousel {
  background: black;
  /* border: 1px solid rgb(31, 31, 218); */
  padding: 80px 0px;
}
.container {
  text-align: center;
  /* background: black; */
  margin: 30px auto;
  padding: 10px 10px;
}
.carousel .services {
  color: red;
  text-align: center;
  font-size: 14px;
}
.carousel h2 {
  font-size: 45px;
  color: white;
  text-align: center;
  margin: 20px auto;
}
.carousel p {
  font-size: 15px;
  color: rgb(236, 235, 232);
  text-align: center;
}
.carousel_item {
  padding: 0px 10px;
  /* border: 1px solid red; */
}
.carousel_item .item_container {
  background: white;
  height: 250px;
  /* border: 1px solid yellow; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-align: center;
  position: relative;
}
.carousel_item .item_container::before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 3px;
  background: #e62b4a;
  top: 0;
  right: 0;
  transform: translateY(-100%);
  transition: 0.3s;
}
.carousel_item .item_container:hover::before {
  transform: translateY(0px);
}
.slick-dots {
  bottom: -50px;
}
.carousel_item .item_container i {
  font-size: 50px;
}
.slick-dots li.slick-active button:before {
  color: #e62b4a;
}
.slick-dots li button:before {
  color: #e62b4a;
  font-size: 20px;
  opacity: 0.7;
}
/* https://cybersoft-newmeipaly.vercel.app/
wed mẫu */
/* end carousel */

/* start blogs */
.blog {
  padding: 80px 0px;
}
.tieude {
  padding: 100px;
  padding-bottom: 30px;
  text-align: center;
}
.container .tieude p {
  color: #888888;
}
.tieude h4 {
  font-size: 50px;
  padding-bottom: 30px;
  padding-top: 10px;
}
.blog_list {
  width: 75%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin: 5px auto;
  /* border: 10px solid yellow; */
}
.blog {
  background: white;
  /* border: 1px solid rgb(255, 0, 21); */
}
.container1 {
  background: white;
  /* border: 1px solid rgb(251, 255, 0); */
}

.blog_item {
  position: relative;
  /* border: 1px solid black; */
}
.blog_item .item_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(230, 43, 74, 0.6);
  opacity: 0;
}
.blog_item .item_overlay:hover {
  opacity: 1;
}
.overlay_search {
  width: 50px;
  height: 50px;
  background: white;
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: translateY(30px);
  transition: 1s;
}
.blog_item :hover.item_overlay .overlay_search {
  transform: translateY(0px);

  opacity: 1;
  /* .blog_item :hover.item_overlay .overlay_search
  trỏ vào di chuyển đến vị trí px
  opacity:1 là hiện ra */
}
.blog_item .item_overlay :hover.overlay_search {
  background: black;
  color: white;
}
.overlay_title {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  transform: translateY(10);
  transition: 1s;
}
.blog_item :hover.item_overlay .overlay_title {
  transform: translateY(-10px);
  opacity: 1;
  /* .blog_item :hover.item_overlay .overlay_search
  trỏ vào di chuyển đến vị trí px
  opacity:1 là hiện ra */
}
.blog_list .item1 {
  grid-column: 1/3;
  /* grid-column: start/end; */
  grid-row: 1 / span 2;
  /*   grid-row: 1 / span 2;
  bắt đâu, số lượng lấy */
}
.blog_list .item10 {
  grid-column: 3/5;
  grid-row: 3 / span 2;
}
.blog_list img {
  width: 100%;
  display: block;
  height: 100%;
}
/* end blogs */
/* start number */
.number {
  background-image: url(./image-video/./bussiness_img_1.jpg);
  width: 100%;
  height: 1200px;
  /* border: 1px solid rgb(255, 0, 0); */
  background-attachment: fixed;
}

.number_container {
  background: black;
  color: white;
  height: 300px;
  /* border: 1px solid rgb(255, 255, 0); */
}
.number_list {
  width: 75%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px auto;
  /* border: 1px solid rgb(8, 0, 255); */
  text-align: center;
}
.number_list1 {
  width: 75%;
  height: 250px;
  margin: 5px auto;
  /* border: 1px solid rgb(255, 0, 191); */
  text-align: center;
  padding-top: 50px;
  /* padding-bottom: 10px; */
}

.number_list1 .list1_mau {
  color: red;
}
.number_list1 h5 {
  font-size: 50px;
  padding: 20px 0px;
}

.list_one {
  padding: 80px 0px;
  width: 20%;
  height: 300px;
  font-size: 15px;
}
.list_one p {
  color: #888888;
}
.list_one .counter {
  color: white;
  font-size: 50px;
}
.number_list2 {
  width: 75%;
  height: 550px;
  margin: 5px auto;
  /* border: 1px solid rgb(0, 242, 255); */
}
.number_list2 video {
  width: 100%;
  height: 100%;
}
/* end number */
/* start experience */
.experience {
  width: 100%;
  height: 800px;
  /* border: 1px solid rgb(247, 0, 255); */
  background: white;
}
.experience_header {
  width: 75%;
  height: 250px;
  margin: 5px auto;
  /* border: 1px solid rgb(255, 119, 0); */
  text-align: center;
  padding-top: 60px;
}
.experience_header .lienhe {
  font-size: 50px;
  padding: 20px;
  color: black;
  /* word-spacing: 0px;
  letter-spacing: 0px; */
}
.experience_header p {
  color: #888888;
  font-size: 15px;
}
.experience_contact {
  width: 75%;
  height: 500px;
  margin: 5px auto;
  /* border: 1px solid rgb(208, 0, 255); */
  text-align: center;
  display: flex;
}
.experience_contact .contact1 {
  width: 65%;
  height: 100%;
  /* border: 1px solid rgb(255, 0, 8); */
}
.experience_contact .contact2 {
  width: 35%;
  height: 90%;
  /* border: 1px solid rgb(255, 217, 0); */
  padding: 20px 0px;
}
.contact2_list {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  justify-content: space-between;
}
.contact2_list #contact2_list_one {
  border: 1px solid #888888;
  height: 50px;
  margin-bottom: 30px auto;
  border-radius: 2px;
}
.contact2_list #contact2_list_two {
  border: 1px solid #888888;
  height: 50px;
  border-radius: 2px;
}
.contact2_list #contact2_list_three {
  border: 1px solid #888888;
  height: 150px;
  border-radius: 2px;
}
.contact2_list button {
  border: 1px solid black;
  background-color: #000;
  color: #ffffff;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.5s;
  padding: 20px 30px;
}
.contact2_list button:hover {
  background-color: #e62b4a;
}
/* end experience */

/* start footer */
/* .footer {
  background: black;
} */
footer {
  height: 250px;
  width: 100%;
  background: black;
  /* border: 1px solid rgb(167, 29, 126); */
  color: white;
  padding: 10px;
}
.footer {
  width: 75%;
  height: 100px;
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid rgb(233, 238, 238); */
  color: white;
}
.footer p {
  font-size: 14px;
}
.footer a {
  color: white;
  font-size: 20px;
  width: 60px;
  height: 60px;
  display: inline-block;
  border-radius: 60%;
  background: rgba(255, 255, 255, 0.2);
  /* border: 1px solid #e62b4a; */
  line-height: 60px;
  text-align: center;
  transition: 0.5s;
  text-decoration: none;
  margin-left: 10px;
}
.footer a:hover {
  background-color: #e62b4a;
}
/* end footer */
/* start up icon */
.upicon {
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 4px;
  text-align: center;
  background: rgba(0, 0, 0, 0.25);
  font-weight: bold;
  color: #fff;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 20px;
}
.upicon a ::before {
  color: white;
}

/* end up icon */
/* animate */
@keyframes animateArrow {
  from {
    transform: translate(0px);
    opacity: 1;
  }
  /* from la bat dau
  to la ket thuc */
  to {
    transform: translateY(100px);
    opacity: 0;
  }
}
@keyframes animatedemo {
  0% {
    color: white;
    transform: translateY(0px) translateX(0px) rotate(0deg) scale(1);
  }
  50% {
    color: blue;
    transform: translateY(10px) translateX(0px) rotate(0deg) scale(1);
  }
  100% {
    color: yellow;
    transform: translateY(20px) translateX(0px) rotate(0deg) scale(1);
  }
}

/* @keyframes animatedemo {
  0% {
    color: red;
    transform: translateY(0px) translateX(0px) rotate(0deg) scale(0.1);
  }
  50% {
    color: blue;
    transform: translateY(100px) translateX(100px) rotate(180deg) scale(2);
  }
  100% {
    color: yellow;
    transform: translateY(-200px) translateX(100px) rotate(-180deg) scale(1);
  }
} */
/* translate la di chuyen
rotate la xoay
scale phong to thu nhỏ */
